@use '../../scss/' as *;

.daily-forecast {
    min-width: 16rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0.8rem;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, $overlay-clr, transparent);
    transition: all 0.3s;

    svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    .time {
        margin-bottom: 1rem;
        align-self: flex-start;
    }

    .forecast-desc {
        font-size: 1.8rem;
        font-weight: 300;
        visibility: hidden;
        opacity: 0;
        margin-bottom: auto;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        opacity: 1;
        background-color: $hover-clr;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.329);
        cursor: grab;

        .forecast-desc {
            visibility: visible;
            opacity: 1;
        }
    }
}
