@use '../../scss/' as *;

.forecast {
    min-height: 50%;
    height: auto;
    padding-top: 4rem;
}

.forecast-btn-group {
    margin-bottom: 4rem;

    button {
        background: $primary-clr;
        color: $white;
        font-size: 1.8rem;
        padding: 3px 10px;
        margin-left: 2rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: $white;
            color: #000;
        }
    }

    .selected {
        background-color: $white;
        color: #000;
    }
}

.forecast-content {
    display: flex;
    gap: 12px;
    align-items: center;
}

.scrool-container {
    min-height: 20rem;
    height: 100%;
    display: flex;
    gap: 2rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.prev-btn,
.next-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: $primary-clr;
    color: white;
}
